.footer {
	padding-top: 45px;
	padding-bottom: 45px;
	font-size: 14px;
	line-height: 16px;

	@include tablet {
		padding-top: 24px;
		padding-bottom: 28px;
	}

	@include desktop {
		padding-top: 45px;
		padding-bottom: 45px;
	}

	&__content-box {
		display: flex;
		flex-direction: column-reverse;

		@include tablet {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__content {
		display: flex;
		flex-direction: column-reverse;

		@include tablet {
			display: block;
		}
	}

	&__nav {
		display: flex;
		flex-direction: column;

		@include desktop-xl {
			flex-direction: row;
			margin: 0 -12px 12px;
		}
	}

	&__nav-elem {
		margin-bottom: 12px;

		@include desktop-xl {
			margin: 0 12px;
		}
	}

	&__nav-link {
		color: rgba($color-black, .88);
		transition: color $transition-default;

		&:hover {
			text-decoration: underline;
			color: $color-black;
		}
	}

	&__phone-link {
		display: inline-block;
		margin-top: 16px;
		margin-bottom: 9px;
		font-size: 18px;
		color: rgba($color-black, .4);
		transition: color $transition-default;

		&:hover {
			color: $color-black;
		}

		@include tablet {
			font-size: 14px;
		}
	}

	&__copyright {
		color: rgba($color-black, .4);

		&--mobile {
			@include desktop {
				display: none;
			}
		}

		&--desktop {
			display: none;

			@include desktop {
				display: block;
			}
		}
	}

	&__links {
		@include tablet {
			display: flex;
			margin: 0 -20px;
		}
	}

	&__links-box {
		@include tablet {
			margin: 0 20px;
		}

		&--mobile {
			margin-bottom: 30px;

			@include tablet {
				display: none;
			}
		}

		&--tablet {
			display: none;
			@include tablet {
				display: block;
			}
		}
	}

	&__links-title {
		margin-bottom: 12px;
		color: rgba($color-black, .4);
	}

	&__links-list {
		display: flex;

		&--app {
			margin: 0 -4px;
		}

		&--social {
			margin: 0 -6px;
		}

	}

	&__links-elem {
		.footer__links-list--app & {
			margin: 0 4px;
		}

		.footer__links-list--social & {
			margin: 0 6px;
		}
	}

	&__links-elem-icon {
		display: inline-block;
		color: rgba($color-black, .4);
		transition: color $transition-default;

		&:hover {
			color: $color-black;
		}

		.footer__links-list--app & {
			width: 135px;
			height: 41px;
		}

		.footer__links-list--social & {
			width: 40px;
			height: 40px;
		}
	}
}
