.section-options {
	padding-top: 40px;
	padding-bottom: 40px;

	&__title {
		margin-bottom: 8px;
	}

	&__text {
		font-size: 24px;
		margin-bottom: 24px;
		line-height: 28px;
		font-weight: 700;
	}

	&__grid {
		display: grid;
		grid-template: auto / repeat(3,1fr);
		grid-gap: 10px;
	}

	&__item {
		position: relative;
	}

	&__photo-box {
		filter: drop-shadow(0 5px 5px rgba($color-black, .2));
	}

	&__photo {
		width: 100%;
		mask-image: url("../images/section-options/mask.svg");
		mask-repeat: no-repeat;
		mask-size: 100% 100%;
	}

	&__item-title {
		position: absolute;
		bottom: 47px;
		left: 50%;
		transform: translateX(-50%) translateX(17px) rotate(-5.15deg);
		padding: 8px 20px;
		border-radius: 12px;
		background-color: $color-black;
		font-size: 24px;
		line-height: 28px;
		font-weight: 700;
		color: $color-white;
		white-space: nowrap;
	}
}
