.section-menu {
	padding-top: 40px;
	padding-bottom: 24px;

	@include tablet {
		padding-top: 24px;
		padding-bottom: 24px;
	}

	@include desktop {
		padding-top: 40px;
		padding-bottom: 24px;
	}

	&__title {
		margin-bottom: 16px;

		@include tablet {
			margin-bottom: 24px;
		}
	}

	&__grid {
		display: grid;
		grid-template: auto / repeat(2, 1fr);
		grid-gap: 8px;

		@include tablet {
			grid-template: auto / repeat(3, 1fr);
		}
	}

	&__item {
		display: block;
		max-width: 100%;
		border-radius: 12px;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 5px 5px 0 rgba(0, 0, 0, 0.09), 0 12px 7px 0 rgba(0, 0, 0, 0.05), 0 21px 8px 0 rgba(0, 0, 0, 0.01), 0 32px 9px 0 rgba(0, 0, 0, 0.00);
	}

	&__btn-box {
		margin-top: 32px;
		text-align: center;

		@include tablet {
			margin-top: 40px;}
	}
}
