.section-atmosphere {
	padding-top: 16px;
	padding-bottom: 16px;

	@include tablet {
		padding-top: 24px;
		padding-bottom: 24px;
	}

	@include desktop {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	&__title {
		margin-bottom: 16px;

		@include tablet {
			margin-bottom: 24px;
		}
	}

	&__slider {
		overflow: unset;
	}

	&__grid {
		position: relative;

		@include tablet {
			display: grid;
			grid-template: auto / repeat(3, 1fr);
			grid-gap: 8px;
		}

		&::after {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			max-width: 1440px;
			height: 100%;
			background-image: url("../images/section-atmosphere/snow@1x.png");
			pointer-events: none;
			content: "";
		}
	}

	&__item {
		display: block;
		width: 100%;
		border-radius: 12px;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 5px 5px 0 rgba(0, 0, 0, 0.09), 0 12px 7px 0 rgba(0, 0, 0, 0.05), 0 21px 8px 0 rgba(0, 0, 0, 0.01), 0 32px 9px 0 rgba(0, 0, 0, 0.00);
	}
}
