.section-order {
	padding-top: 16px;
	padding-bottom: 16px;

	@include tablet {
		padding-top: 24px;
		padding-bottom: 24px;
	}

	@include desktop {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	&__title {
		margin-bottom: 16px;
		max-width: 560px;

		@include tablet {
			margin-bottom: 32px;
			max-width: 660px;
		}

		@include desktop {
			max-width: 950px;
		}
	}

	&__subtitle {
		margin-bottom: 16px;
		font-size: 28px;
		line-height: 32px;
		font-weight: 700;

		@include tablet {
			margin-bottom: 16px;
			font-size: 28px;
			line-height: 32px;
		}

		@include desktop {
			margin-bottom: 24px;
			font-size: 40px;
			line-height: 48px;
			letter-spacing: -.04em
		}
	}

	&__form {
		padding: 16px;
		background-color: $color-white;
		border-radius: 12px;
		box-shadow: 0 2px 4px 0 rgba(125, 125, 125, 0.10), 0 26px 10px 0 rgba(125, 125, 125, 0.01);

		@include tablet {
			padding: 32px 44px;
		}
	}

	&__form-row {
		margin-bottom: 32px;

		@include desktop {
			margin-bottom: 40px;
			display: grid;
			grid-template: auto / repeat(2, 1fr);
			grid-gap: 40px;
		}
	}

	&__form-col {
	}

	&__submit-box {

		@include tablet {
			display: flex;
			align-items: center;
		}
	}

	&__submit {
		width: 100%;
		margin-bottom: 8px;

		@include tablet {
			width: unset;
			margin-right: 16px;
		}
	}

	&__note {
		font-size: 12px;
		line-height: 16px;
		color: #B2ABAA;
	}
}
