*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	font-family: $font-primary;
	width: 100vw;
	min-width: 375px;
	min-height: 100vh;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	line-height: 1.3;
}

.main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

button {
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
}
